.messageContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.avatar {
  margin-right: 16px;
  align-self: flex-end;
  margin-bottom: 5px;
}

.animationContainer {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.card {
  flex-grow: 1;
  width: auto;
  min-width: 100px;
  max-width: 600px;
  background-color: transparent;
  pointer-events: none;
}

.card .nextui-textarea-wrapper {
  background-color: transparent;
}

.card .nextui-textarea {
  color: white;
}
